<div style="background-color: #fbfbff;">
    <div class="container-md centrais d-flex flex-column align-items-center">
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h1 class="title">Centrais telefônicas IP</h1>
        </div>
        <div class="mt-4 col-lg-12 col-11 d-lg-flex flex-lg-row justify-content-lg-around d-flex flex-column-reverse align-items-center">
            <div class="mt-5 col-lg-6 col-12">
                Nós da Techline atuamos a mais de 10 anos na implantação de servidores especializados
                        em telecomunicação, utilizamos o software Asterisk para implementar os recursos de um PBX 
                        convencional em um servidor.
                        Ideal para empresas de todos os tamanhos, uma central telefônica IP possibilita muitos benefícios
                        em relação à central convencional (analógica), além de conter todos os recursos da versão analógica, a versão 
                        IP trás consigo benefícios relacionados a:
                        <ul class="ms-1 mt-4 mb-4">
                            <li>Redução de gastos</li>
                            <li>Aumento da produtividade de sua empresa</li>
                            <li>Melhoria na qualidade das chamadas</li>
                            <li>Fácil de gerenciar</li>
                        </ul>
                        Posteriormente à implantação das centrais, vinculamos nosso sistema de gerenciamento para centrais IP. O Call
                        Manager agregará ainda mais benefícios ao servidor, principalmente se tratando do gerenciamento de linhas, rotas 
                        e muito mais. Caso queira consultar a página referente ao nosso produto
            </div>
            <div class="image col-lg-3 col-md-4 col-8">
                <img class="siz" src="../../../assets/centralComponent.png" alt="">
            </div>
        </div>
    </div>
    <div style="background: linear-gradient(to bottom, #fbfbff 0%, #fbfbff 30%, #d8d6ff 30%, #d8d6ff 100%);">
        <div class="container-md">
            <div class="col-12 mt-5 cardBenefs card card-border d-md-flex flex-column">
                <div class="mt-4 col-12 linedMain d-flex flex-column align-items-center">
                    <h2 class="titleMain">Benefícios de ter uma central IP</h2>
                </div>
                <div class="d-md-flex flex-md-row justify-content-md-around flex-wrap">
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Economia</h2>
                        </div>
                        <div class="contentBenefs">
                            Para chamadas internas ou entre filiais interligadas não haverá custos, e para chamadas
                            interubanas ou internacionais o valor cobrado será inferior às chamadas analógicas.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain tbXS">Produtividade</h2>
                        </div>
                        <div class="contentBenefs tbXS">
                            Os recursos disponibilizados e a facilidade de gerenciamento tornam a central IP um elemento
                            importante no aumento da produtividade da sua empresa como um todo.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain tbXS">Infraestrutura</h2>
                        </div>
                        <div class="contentBenefs">
                            Utiliza a mesma estrutura de cabeamento da internet, fazendo com que sua empresa
                            economize com projetos e instalações telefônicas não necessárias. 
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Gerenciamento</h2>
                        </div>
                        <div class="contentBenefs">
                            Com a tecnologia de uma central telefônica IP torna-se mais simples gerenciar e monitorar seu funcionamento.
                            Aliado ao sistema de gerenciamento é uma ótima opção para controlar e gerenciar seu sistema de telefonia.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Qualidade de chamadas</h2>
                        </div>
                        <div class="contentBenefs">
                            Com estabilidade na conexão, as chamadas serão operadas com voz em alta definição, proporcionando
                            conversas mais claras do que as feitas pelo meio analógico. 
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
