<div style="background-color: #fbfbff;">
    <div class="cont container-md">
        <div class="d-flex flex-column align-items-center">
            <div class="lined col-12 d-flex flex-column align-items-center">
                <h1 class="titulo">Downloads</h1>
            </div>
            <div class="mt-4 col-lg-12 col-md-11 col-12 d-md-flex flex-md-row justify-content-md-around d-flex flex-column align-items-center">
                <div class="col-lg-10 col-md-12 col-12 col-cards row row-cols-1 row-cols-md-3">
                    <div class="col-lg-4 col-md-4 col-12 d-flex flex-row justify-content-center">
                      <div class="mb-3 card3cx cardBord card">
                        <div class="mudaBD1 card-body">
                          <span class="textCard">Programa open source que simula um telefone IP em seu computador, realiza e recebe chamadas,
                                                 além de muitas outras funções.
                          </span>
                          <a class="link"  href="https://www.3cx.com.br/voip-telefone/softphone/" target="_blank"><button class="visit">Visitar o site</button></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 d-flex flex-row justify-content-center">
                      <div class="mb-3 cardTeam cardBord card">
                        <div class="mudaBD2 card-body">
                          <span class="textCard">Programa de software para acesso remoto, compartilhamento 
                                                 de área de trabalho, transferência de arquivos entre computadores.
                          </span>
                          <a class="link" href="https://www.teamviewer.com/pt-br/download/windows/" target="_blank"><button class="visit">Visitar o site</button></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 d-flex flex-row justify-content-center">
                      <div class="mb-3 cardAny cardBord card">
                        <div class="mudaBD3 card-body">
                          <span class="textCard">Programa de software para acesso remoto, compartilhamento 
                                                 de área de trabalho, transferência de arquivos entre computadores.
                          </span>
                          <a class="link" href="https://anydesk.com/pt/downloads/windows" target="_blank"><button class="visit">Visitar o site</button></a>
                        </div>
                      </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>