<div style="background-color: #fbfbff;">
    <div class="container-md redes d-flex flex-column align-items-center">
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h1 class="title">Redes Estruturadas</h1>
        </div>
        <div class="mt-4 col-lg-12 col-11 d-lg-flex flex-lg-row justify-content-lg-around d-flex flex-column-reverse align-items-center">
            <div class="mt-5 col-lg-6 col-12">
                Uma rede se trata de um conjunto de equipamentos ativos e de conexão, que em conjunto 
                buscam estabelecer uma conexão entre todos os equipamentos, o fato de uma rede ser
                estruturada parte do princípio da organização padronizada desses elementos perante 
                algumas normas e padrões estabelecidos. O principal ponto é que uma rede devidamente 
                estruturada irá ser determinante em situações como:
                <ul class="ms-1 mt-4 mb-4">
                    <li>Manutenção</li>
                    <li>Substituição de equipamento</li>
                    <li>Gerência de rede e dos equipamentos</li>
                    <li>Expansão da empresa</li>
                </ul>
                A cada dia mais empresas solicitam projetos para desenvolver uma rede estruturada buscando
                obter seus benefícios, principalmente pensando em termos de segurança, previnindo eventuais
                acidentes, e em termos de economia, visando aumentar a durabilidade de todo o sistema de rede,
                além de outras questões importantes.
            </div>
            <div class="image col-lg-3 col-md-4 col-8">
                <img class="siz" src="../../../assets/redesComponent.png" alt="">
            </div>
        </div>
    </div>
    <div style="background: linear-gradient(to bottom, #fbfbff 0%, #fbfbff 30%, #d8d6ff 30%, #d8d6ff 100%);">
        <div class="container-md">
            <div class="col-12 mt-5 cardBenefs card card-border d-md-flex flex-column">
                <div class="mt-4 col-12 linedMain d-flex flex-column align-items-center">
                    <h2 class="titleMain">Benefícios de ter uma rede estruturada</h2>
                </div>
                <div class="d-md-flex flex-md-row justify-content-md-around flex-wrap">
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Segurança</h2>
                        </div>
                        <div class="contentBenefs">
                            Previne acidentes que podem ser causados por superaquecimento dos equipamentos, curto circuito,
                            armazenamento em local impróprio, entre outros.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Economia</h2>
                        </div>
                        <div class="contentBenefs tbXS">
                            Os equipamentos ganham uma durabilidade maior, os defeitos diminuem, e como consequência
                            as manutenções não são tão frequentes, sendo assim uma forma de conter futuros gastos.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Escalabilidade</h2>
                        </div>
                        <div class="contentBenefs">
                            A estrutura da rede é projetada pensando em um possível aumento, ou seja, é possível acrescentar 
                            equipamentos a sua rede sem fazer grandes mudanças
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Organização</h2>
                        </div>
                        <div class="contentBenefs">
                            É um fator determinante para fazer com que a manutenção e a gerência dos elementos da rede sejam
                            fáceis e mais rápidas. Além de colaborar também com segurança, durabilidade, entre outros.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Flexibilidade</h2>
                        </div>
                        <div class="contentBenefs">
                            É bastante flexível em relação aos equipamentos incluídos na rede, pois suporta 
                            substituição por novas tecnologias, desde que não sejam necessárias mudanças estruturais.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Integração</h2>
                        </div>
                        <div class="contentBenefs">
                            Um dos pontos chaves, o projeto da rede estruturada de uma empresa integra todos os ambientes
                            daquela empresa em uma ou mais conexões.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
