<div style="background-color: #fbfbff;">
    <div class="container-md cfs d-flex flex-column align-items-center">
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h1 class="title">CFTV</h1>
        </div>
        <div class="mt-4 col-lg-12 col-11 d-lg-flex flex-lg-row justify-content-lg-around d-flex flex-column-reverse align-items-center">
            <div class="mt-5 col-lg-6 col-12">
                CFTV se trata de um sistema de circuito interno que transmite sinais provenientes de câmeras posicionadas
                estrategicamente pelo local. O serviço de CFTV já vem a muito tempo sendo bastante procurado principalmente por empresas, 
                e obviamente que com o aumento da necessidade de investir em segurança essa procura sempre vem crescendo cada 
                vez mais. O CFTV, diariamente, gera muitas facilidades para quem o tem, algumas delas são:
                <ul class="ms-1 mt-4 mb-4">
                    <li>Percepção de irregularidades em sua empresa ou residência</li>
                    <li>Monitoramento do fluxo de pessoas</li>
                    <li>Disponibiliza um fácil acesso a imagens e áudios</li>
                    <li>Atua como um elemento de ordem em um ambiente</li>
                </ul>
                Atualmente, devido às novas tecnologias, a obtenção de um sistema CFTV se tornou ainda mais vantajosa para quem
                busca por imagens de alta resolução, áudios de melhor qualidade, e principalmente a possibilidade de ter 
                acesso tudo isso a qualquer momento.
            </div>
            <div class="image col-lg-3 col-md-4 col-8">
                <img class="siz" src="../../../assets/cftvComponent.png" alt="">
            </div>
        </div>
    </div>
    <div style="background: linear-gradient(to bottom, #fbfbff 0%, #fbfbff 30%, #ffcdd2 30%, #ffcdd2 100%);">
        <div class="container-md">
            <div class="mt-5 cardBenefs card card-border d-md-flex flex-column">
                <div class="mt-4 col-12 linedMain d-flex flex-column align-items-center">
                    <h2 class="titleMain">Benefícios de ter um sistema CFTV</h2>
                </div>
                <div class="d-md-flex flex-md-row justify-content-md-around flex-wrap">
                    <div class="frames text-center col-lg-3 col-md-5">
                        <div>
                            <h2 class="titleMain">Segurança</h2>
                        </div>
                        <div class="contentBenefs">
                            Importante para inibir crimes, como roubos e furtos, e caso algo aconteça é ainda mais 
                            importante para a resolução de tais problemas.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-3 col-md-5">
                        <div>
                            <h2 class="titleMain">Gravações</h2>
                        </div>
                        <div class="contentBenefs">
                            Acesso a gravações em altíssima resolução, podendo ajudar a identificar pessoas, objetos, entre outras
                            utilidades. 
                        </div>
                    </div>
                    <div class="frames text-center col-lg-3 col-md-5">
                        <div>
                            <h2 class="titleMain">Acesso a áudios</h2>
                        </div>
                        <div class="contentBenefs">
                            O acesso a áudios gravados pelas câmeras também é possível, caso elas gravem áudio. Muito Importante
                            em casos onde somente as gravações de vídeo não são suficientes. 
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-5">
                        <div>
                            <h2 class="titleMain">Adaptável</h2>
                        </div>
                        <div class="contentBenefs">
                            É um sistema que pode ser adaptável a qualquer tipo de empresa, o tamanho do sistema, a quantidade
                            de equipamentos, entre outros, dependerá da sua necessidade.
                        </div>
                    </div>
                    <div class="frames text-center col-lg-4 col-md-6">
                        <div>
                            <h2 class="titleMain">Visualização online</h2>
                        </div>
                        <div class="contentBenefs">
                            Com o CFTV é possível visualizar em tempo real as camêras de sua empresa, além de poder separar
                            em grupos para melhor visualização da forma que preferir.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
