<div style="background-color: #fbfbff;">
    <div class="container-md d-flex flex-column align-items-center ptop">
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h2 class="title">Call Manager</h2>
        </div>
        <div class="col-12 content d-lg-flex flex-lg-row justify-content-lg-around d-flex flex-column-reverse justify-content-center">
            <div class="col-lg-8 col-12 text">
                O Call Manager é um sistema para gerenciamento de call center que possui uma grande variedade de
                utilidades
                para empresas de todos os tamanhos poderem organizar e otimizar a sua telefonia e o atendimento
                ao cliente.
                Possuímos a concepção de que o departamento de telefonia é uma parte determinante para o bom
                andamento
                de uma empresa, pensando nisso, o nosso sistema trás aos nossos clientes a oportunidade de
                gerenciar, através
                de suas ferramentas, o seu departamento de telefonia e seus colaboradores que o integram.
                <br>
                <br>
                Nosso produto foi pensado e implementado levando em conta a autonomia e a praticidade que
                desejamos levar
                ao usuário final, o nosso objetivo é que tais benefícios sejam transformados em maiores ganhos
                para os nossos
                clientes, além de melhorar a experiência de gestão e utilização da telecomunicação em sua
                empresa.
            </div>
            <div class="col-lg-4 col-12 text-center">
                <img src="../../../assets/miniLogoCall.png" alt="CallManager">
            </div>
        </div>
    </div>
</div>
<div style="background:linear-gradient(to bottom, #fbfbff 0%, #fbfbff 80%, #D8D6FF 80%, #D8D6FF 100%);">
    <div class="container-md d-flex flex-column align-items-center pcard">
        <div class="col-12 cardControl card card-border d-flex flex-column">
            <div class="lined-card painel col-12 d-flex flex-column align-items-md-start align-items-center">
                <h2 class="mt-5 titlePainel">Painel de controle e recursos</h2>
            </div>
            <div class="col-12 d-lg-flex flex-lg-row justify-content-lg-around d-flex flex-column-reverse justify-content-center align-items-center">
                <div class="col-lg-5 col-11 content">
                    Nosso sistema conta com um módulo de controle de recursos
                    do sistema onde os usuários podem ter acesso a informações
                    relacionadas ao servidor que abriga seu sistema. Algumas
                    informações disponíveis são: ocupação do disco e utilização
                    de memória, uso da capacidade de processamento, entre outros.
                    <br>
                    <br>
                    Além disso, também contamos com um painel de controle dos dispositivos
                    e entidades do sistema conectados ao sistema, ou seja, o painel monitora
                    em tempo real cada ramal, cada fila ou grupo de chamada, e muito mais.
                    Podendo monitorar também a chegada de chamadas, nosso painel de controle
                    registra as chamadas que estão em espera para serem atendidas, ajudando assim
                    a identificar e solucionar problemas de logistica nas rotas.
                </div>
                <div class="col-lg-5 text-center controlImage">
                    <img id="image" src="../../../assets/recursos.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #D8D6FF;">
    <div class="container-md d-flex flex-column align-items-center">
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h2 class="mt-5 title">Relatórios</h2>
        </div>
        <div class="col-12 d-lg-flex flex-lg-row justify-content-lg-around align-items-lg-center d-flex flex-column-reverse justify-content-center">
            <div class=" col-lg-5 col-12">
                <div class="content">
                    O módulo de relatórios do Call Manager disponibiliza diversos relatórios para auxiliar
                    nossos usuários a obter informações importantes sobre seu setor de telecomunicação,
                    facilitando sua gestão e futuras melhorias. Utilizando o módulo de relatórios, o usuário
                    pode ter acesso aos seguintes dados:
                </div>
                <ul class="list mt-3">
                    <li>Número de ligações atendidas e não atendidas</li>
                    <li>Número de ligações feitas e/ou recebidas pela central</li>
                    <li>Ligações feitas e/ou recebidas por ramal, grupo ou fila de chamada</li>
                    <li>Um resumo das ligações feitas ou recebidas por todos os ramais</li>
                </ul>
            </div>
            <div class="mt-4 col-lg-4 col-12 text-lg-start text-center">
                <img src="../../../assets/relatorio.png" alt="" height="330">
            </div>
        </div>
        <div class="mb-5 col-12 d-lg-flex flex-lg-row justify-content-lg-around align-items-lg-center d-flex flex-column justify-content-center">
            <div class="mt-4 col-lg-4 col-12 align-middle text-lg-end text-center">
                <img src="../../../assets/relPn.png" alt="" height="280">
            </div>
            <div class="col-lg-5 col-12">
                <div class="content">
                    Os relatórios podem ser gerais ou específicos de um ramal escolhido, eles são apresentados
                    em forma de tabela ou de um gráfico relacional, contendo algumas informações a mais do que
                    na tabela, como:
                </div>
                <ul class="list mt-4 mb-4">
                    <li>Porcentagem de chamadas feitas e recebidas</li>
                    <li>Números que participaram das chamadas</li>
                    <li>Quantidade de chamadas para cada número</li>
                </ul>
                <div class="content">
                    Além dos dados citados anteriormente, nossos clientes também podem acessar relatórios
                    sobre faturamento, sobre tarifação de cada ligação e sobre o uso simultâneo dos canais
                    de voz.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #fbfbff;">
    <div class="container-md d-flex flex-column align-items-center">
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h2 class="mt-5 title">Gravações</h2>
        </div>
        <div class="col-12 agentsSupervisors d-flex flex-column align-items-center">
            <div class="col-lg-9 text-center">
                O módulo de gravações é um componente chave do nosso sistema, sendo importante tanto para nossos
                clientes quanto para seus respectivos colaboradores e clientes. Ter acesso ao conteúdo de uma ligação
                garante maior segurança para todos os envolvidos nela, além de melhorar a comunicação entre colaborador
                e cliente.
                A tabela de gravações possui filtros que auxiliam a busca pela gravação desejada, você pode
                buscar por data
                desejada, por ramal ou número desejado, entre outras opções.
                <br>
                <br>
                Ao buscar por um gravação, além de ter acesso a ela, a tabela conta com outros dados que ajudam
                a identificar se aquela ligação é a que você está buscando, são eles:
            </div>
            <div class="col-lg-10 col-12 d-flex flex-row justify-content-around">
                <div>
                    <ul class="mt-4">
                        <li>Data</li>
                        <li>Hora</li>
                        <li>Origem</li>
                        <li>Destino</li>
                        <li>Duração</li>
                        <li>Tipo de ligação</li>
                    </ul>
                </div>
                <img src="../../../assets/records.png" alt="" class="gravation">
            </div>
        </div>
        <div class="lined col-12 d-flex flex-column align-items-center">
            <h2 class="mt-5 title">Call Center</h2>
        </div>
        <div class="col-12 d-lg-flex flex-lg-row justify-content-lg-around d-flex flex-column-reverse justify-content-center">
            <div class="col-lg-5 content">
                O módulo de Call Center é uma ferramenta desenvolvida especialmente para empresas que buscam
                uma forma de ter um controle maior sobre seu departamento de telefonia. Trabalhando com o
                conceito
                de agentes estáticos ou dinâmicos, o módulo Call Center aumenta a produtividade, além de dar ao
                supervisor um controle maior sob o funcionamento do seu departamento.
                <br>
                <br>
                Nosso Call Center contém vários submódulos que executam funções, principalmente, voltadas para
                auxiliar
                o supervisor do Call Center, mas também para os próprios agentes que irão trabalhar utilizando o
                módulo, algumas delas são:
            </div>
            <div class="col-lg-5 imageCall text-lg-start text-center">
                <img src="../../../assets/callCenter2.png" alt="" height="330px">
            </div>
        </div>
        <div class="col-12 d-lg-flex flex-lg-row justify-content-lg-between d-flex flex-column align-items-center">
            <div class="col-lg-5 imageCall text-lg-end text-center">
                <img src="../../../assets/callCenter.png" alt="" height="315px">
            </div>
            <div class="agentsSupervisors mb-5 col-lg-6 col-md-11 col-12 d-md-flex flex-md-row justify-content-md-center">
                <ul class="mt-5 marginEnd col-lg-6">
                    <li class="mb-4">
                        <h2 class="titleCallCenter">Para os supervisores</h2>
                    </li>
                    <li class="ms-4 mt-1">Relatório de pausas dos agentes</li>
                    <li class="ms-4 mt-1">Relatórios gráficos de chamadas</li>
                    <li class="ms-4 mt-1">Login e Logout de agentes</li>
                    <li class="ms-4 mt-1">Detalhes de chamadas</li>
                    <li class="ms-4 mt-1">Quantidade de chamadas por hora</li>
                    <li class="ms-4 mt-1">Quantidade de chamadas por agentes</li>
                    <li class="ms-4 mt-1">Monitoramento de campanhas</li>
                </ul>
                <ul class="mt-5 col-lg-6">
                    <li class="mb-4">
                        <h2 class="titleCallCenter">Para os agentes</h2>
                    </li>
                    <li class="ms-4 mt-1">Possibilidade de pausas estratégicas</li>
                    <li class="ms-4 mt-1">Painel de login</li>
                    <li class="ms-4 mt-1">Transferência entre agentes</li>
                    <li class="ms-4 mt-1">Painel com informações da chamada atual</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #D8D6FF;">
    <div class="container-md d-flex flex-column align-items-center">
        <div class="mt-5 mb-5 col-lg-12 col-md-10  cardControl card card-border d-lg-flex flex-lg-row justify-content-lg-around">
            <div>
                <div class="mb-4 d-flex flex-row justify-content-center">
                    <div class="linedOps col-12 d-flex flex-column align-items-center">
                        <h2 class="mt-5 titlePainel2">URA programada</h2>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="col-lg-10 col-md-6 col-9 contentResume">
                        <ul>
                            <li class="mt-1">Direcionamento por dígito</li>
                            <li class="mt-1">Integração com condições de tempo da central</li>
                            <li class="mt-1">Anúncios e áudios personalizados</li>
                            <li class="mt-1">Conjunto de destinos flexível</li>
                            <li class="mt-1">URA realimentável</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-4 d-flex flex-row justify-content-center">
                    <div class="linedOps col-12 d-flex flex-column align-items-center">
                        <h2 class="mt-5 titlePainel2">Direcionamento</h2>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="col-lg-10 col-md-6 col-9 contentResume">
                        <ul>
                            <li class="mt-1">Rotas de entrada</li>
                            <li class="mt-1">Siga-me</li>
                            <li class="mt-1">Mais de 15 opções de direcionamento</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-4 d-flex flex-row justify-content-center">
                    <div class="linedOps col-12 d-flex flex-column align-items-center">
                        <h2 class="mt-5 titlePainel2">outras facilidades</h2>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="col-lg-10 col-md-6 col-9 contentResume">
                        <ul>
                            <li class="mt-1">Condições de tempo</li>
                            <li class="mt-1">Códigos de facilidades</li>
                            <li class="mt-1">Lista de números bloqueados</li>
                            <li class="mt-1">Grupos e filas de chamadas</li>
                            <li class="mt-1">Diversas estratégias de chamada</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>