.ptop {
    padding-top: 195px;
}
.title {
    margin-bottom: 0;
    font-size: 49px;
    font-family: 'Bree Serif';
    font-weight: 700;
    color:#212121;
}
.titlePainel {
    margin-left: 15px;
}
.lined::after {
    content: ''; /*conteúdo vazio*/
    display: block;
    background-color: #FF3D00;
    height: 5px;
    width: 13%;
    margin-top: 0px;
}
.linedOps::after {
    content: ''; /*conteúdo vazio*/
    display: block;
    background-color: #FF3D00;
    height: 5px;
    width: 42%;
    margin-top: 0px;
}
.content {
    margin-top: 55px;
    font-size: 18px;
    font-weight: 600;
}
.agentsSupervisors {
    margin-top: 55px;
    font-size: 18px;
    font-weight: 600;
}
.list {
    margin-top: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}
.text {
    padding-bottom: 65px;
}
.pcard {
    padding-top: 35px;
}
.cardControl {
    padding-bottom: 68px;
    border-radius: 18px;
    background-color: #0f2441;
    color: #FAFAFA;
}
.painel {
    padding-left: 32px;
}
.lined-card::after {
    content: ''; /*conteúdo vazio*/
    display: block;
    background-color: #FF3D00;
    height: 5px;
    width: 452px;
    margin-left: 15px;
    margin-top: -6px;
    margin-right: auto;
    border-radius: 10px;
}
.controlImage {
    padding-top: 55px;
}
#image {
    height: 365px;
}
.gravation {
    padding-top: 50px;
    height: 180px;
}
.imageCall {
    padding-top: 75px;
}
.contentResume {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.titleCallCenter {
    font-size: 23px;
    color:#193761;
    font-weight: 700;
}
.marginEnd {
    margin-right: 40px;
}
.titlePainel2 {
    margin-bottom: 0;
    font-size: 49px;
    font-family: 'Bree Serif';
    font-weight: 700;
    color:#FAFAFA;
}
@media (min-width: 561.02px) and (max-width: 768px) {
    .lined::after, .linedOps::after {
        content: ''; /*conteúdo vazio*/
        display: block;
        background-color: #FF3D00;
        height: 5px;
        width: 24%;
        margin-top: 0px;
    }
    .content {
        text-align: center;
        margin-top: 45px;
    }
    #image {
        height: 395px;
    }
    .agentsSupervisors {
        margin-top: 40px;
    }
    .list {
        margin-left: 60px;
    }
}
@media (max-width: 561px) {
    .lined::after, .lined-card::after, .linedOps::after {
        display: none;
    }
    .title, .titlePainel2 {
        text-align: center;
    }
    .content {
        text-align: center;
    }
    #image {
        height: 200px;
    }
    .titlePainel {
        text-align: center;
        font-size: 27px;
    }
    .painel {
        padding-left: 0px;
    }
    .list {
        margin-left: 10px;
    }
    .marginEnd {
        margin-right: 0px;
    }
}