.alert {
    background-color: #4FC3F7;
    width: 320px;
    padding: 2px;
}
.tooltip-primary {
    color:#FF3D00;
}
.anchors {
    margin-left: 37px;
}
.close {
    padding-top: 0;
    margin-bottom: 39px;
    font-size: 18px;
    background-color: #4FC3F7;
    border: #4FC3F7;
}
.containerMain {
    padding-top: 172px;
}
.logo {
    width: 315px;
    padding-top: 115px;
}
.title {
    color: #212121;
    font-family: 'Bree Serif';
    font-size: 49px;
    font-weight: 700;
}
.lined::after {
    content: ''; /*conteúdo vazio*/
    display: block;
    background-color: #FF3D00;
    height: 5px;
    width: 8%;
    border-radius: 10px;
    margin-top: -6px;
}
svg#company {
    margin: 15px;
}
svg#company:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}
svg#equip {
    margin: 15px;
}
svg#equip:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}
svg#clients {
    margin: 15px;
}
svg#clients:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}
.subtitle {
    color: #212121;
    font-family: 'Bree Serif';
    font-size: 24px;
}
.text {
    padding-top: 75px;
    font-size: 18px;
    font-weight: 600;
}
.ourTeam {
    padding-top: 75px;
    color: #212121;
    font-family: 'Bree Serif';
    font-size: 42px;
    font-weight: 700;
}
.divGray {
    background-color: #F0F0F0;
}
.containerGray {
    padding-top: 12px;
}
.ourTeamText {
    margin-top: 65px;
    padding-bottom: 45px;
    font-size: 18px;
    font-weight: 600;
}
.clients {
    margin-top: 45px;
}
#clients {
    color: #212121;
    font-family: 'Bree Serif';
    font-size: 42px;
    font-weight: 700;
}
.clientsText {
    margin-top: 45px;
    padding-bottom: 60px;
    font-size: 18px;
    font-weight: 600;
}
.cliCircle {
    height: 130px;
    width: 130px;
    border-radius: 120%;
}
.cliCircle:hover {
    transform: scale(1.3);
    transition: all 0.5s;
}
.list {
    margin-top: 20px;
    margin-left: 12px;
    border: #FF3D00;
    border-radius: 50%;
    background-color: #FF3D00;
    width: 12px;
    height: 12px;
}
@media (min-width: 561.02px) and (max-width: 768px) {
    .anchors {
        margin-left: 0px;
    }
    .logo {
        margin-left: 0px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 561px) {
    .logo {
        margin-left: 0px;
        padding-top: 50px;
        padding-bottom: 60px;
        width: 270px;
    }
    .lined::after {
        display: none;
    }
    .mainText {
        text-align: center;
    }
    .clients {
        text-align: center;
    }
    /*svg#company, svg#equip, svg#clients {
        display: none;
    }*/
}