<div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="preFooter">
    <div class="container-md d-flex flex-column align-items-center">
      <div class="col-lg-12 col-md-10 col-12 d-lg-flex flex-lg-row justify-content-lg-around">
        <div class="col-lg-6 col-12 doContact">
          <div class="mb-4 lined col-12 d-flex flex-column align-items-center">
            <h5 class="titulo">Entre em contato conosco</h5>
          </div>
          <div class="col-12 d-lg-flex flex-lg-column align-items-lg-start d-flex flex-column align-items-center">
            <div class="d-md-flex flex-md-row">
              <img class="doContactImg" src="../../../assets/atendance.png" alt="">
              <div class="doContactText d-flex flex-column justify-content-center">
                <span class="mb-2"><i class="me-2 bi bi-telephone-fill"></i>(62)3233-2279</span>
                <span class="mb-2"><i class="me-2 bi bi-envelope-fill"></i>techline@techlinetelecom.com.br</span>
                <span><i class="me-2 bi bi-whatsapp"></i>(62)98104-0120</span>
              </div>
            </div>
            <button class="col-lg-4 col-md-5 col-9 buttonContactUs btn">
              <a href="http://www.techlinetelecom.com.br/contactUs" class="link">Fale conosco</a>
            </button>
          </div>
          <div class="doContactInsta">
            <span>Siga as nossas redes sociais: <a style="text-decoration: none; color: white;"
                href="https://www.instagram.com/techlinetelecom/">
                <i class="ms-2 bi bi-instagram" style="font-size: 24px;"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-12 optionsText">
          <div class="col-12 d-md-flex flex-md-row justify-content-md-between d-flex flex-row justify-content-around flex-wrap">
            <div class="col-lg-6 col-5 d-flex flex-column">
              <h5 style="font-size: 23px; width: 250px;color: #FF3D00;">Empresa</h5>
              <a class="ops" routerLink="/business">Conheça a Techline</a>
              <a class="ops" routerLink="/business">Nossa equipe</a>
              <a class="ops" routerLink="/business">Nossos clientes</a>
            </div>
            <div class="col-lg-4 col-5 d-flex flex-column">
              <h5 style="font-size: 23px; width: 250px;color: #FF3D00;">Suporte</h5>
              <a class="ops" routerLink="/support">Formas de suporte</a>
              <a class="ops" routerLink="/support">Abrir chamado</a>
            </div>
            <div class="col-lg-6 col-5 d-flex flex-column call">
              <h5 style="font-size: 23px; width: 250px;color: #FF3D00;">Call Manager</h5>
              <a class="ops" routerLink="/product">URA programada</a>
              <a class="ops" routerLink="/product">Gravações de chamadas</a>
              <a class="ops" routerLink="/product">Relatórios diversos</a>
              <a class="ops" routerLink="/product">Painel de controle</a>
            </div>
            <div class="col-lg-4 col-5 d-flex flex-column download">
              <h5 style="font-size: 23px; width: 250px;color: #FF3D00;">Downloads</h5>
              <a class="ops" routerLink="/downloads">3CX</a>
              <a class="ops" routerLink="/downloads">AnyDesk</a>
              <a class="ops" routerLink="/downloads">TeamViewer</a>
            </div>
            <div class="col-lg-6 col-6 d-flex flex-column service mb-5 ">
              <h5 style="font-size: 23px;color: #FF3D00;">Serviços</h5>
              <a class="ops" routerLink="/centrais">Centrais telefônicas IP</a>
              <a class="ops" routerLink="/redes">Rede estruturada</a>
              <a class="ops" routerLink="/CFTV">CFTV</a>
            </div>
            <div class="col-4">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container-md">
      <div class="col-lg-12 col-12 d-flex flex-row justify-content-end align-items-center d-block  bottom-0 text-white">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code"
            viewBox="0 0 16 16">
            <path
              d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z" />
          </svg>
        </div>
        <div class="msg">Desenvolvido por Techline</div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-code-slash"
            viewBox="0 0 16 16">
            <path
              d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>